html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: none;
}

div {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.6;
  font-weight: 600;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
}

.lg {
  font-size: 1.25rem;
}

.md {
  font-size: 1.125rem;
}

.sm {
  font-size: 0.875rem;
}

.xs {
  font-size: 0.75rem;
}

body {
  background: #F5F5F5;
}

.header {
  background: #262E49;
  height: 8vh;
  display: flex;
  align-items: center;
  padding-left: 47px;
}
.header .title {
  color: #FFFFFF;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  align-items: center;
}
.container .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 92%;
  max-width: 1344px;
}
.container .content .tab {
  display: flex;
  gap: 20px;
}
.container .content .tab li {
  padding-bottom: 12px;
}
.container .content .tab li.select {
  border-bottom: 4px solid #262E49;
}
.container .content .tab li.select a {
  color: #262E49;
}
.container .content .tab li.unselect a {
  color: #BFBFBF;
}
.container .content .filter {
  display: flex;
  gap: 20px;
}
.container .content .filter select {
  padding: 4px 16px 4px 12px;
  border: 1px solid #E6E6E6;
  border-radius: 8px;
  position: relative;
}
.container .content .filter select::after {
  content: "123";
  background: url(../img/chevron-down.png);
  position: absolute;
  width: 24px;
  height: 24px;
  border: 1px solid #000;
  right: 2px;
}
.container .content .filter button {
  display: flex;
  align-items: center;
  background: #262E49;
  color: #FFFFFF;
  padding: 4px 12px;
  border-radius: 8px;
  gap: 8px;
}
.container .content .filter button .icon svg path {
  stroke: #FFFFFF;
}
.container .content .data {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container .content .data .card {
  background: #FFFFFF;
  padding: 20px;
  border-radius: 8px;
  height: fit-content;
  width: 20%;
  max-width: 280px;
}
.container .content .data .card .card-title {
  margin-bottom: 20px;
}
.container .content .data .card .card-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.container .content .data .card .card-content .block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container .content .data .card .card-content .vote-rate .chart {
  display: flex;
  align-items: center;
  gap: 20px;
}
.container .content .data .card .card-content .vote-rate .chart .pie-chart {
  width: 120px;
  height: 120px;
  border: 1px solid #000;
}
.container .content .data .card .card-content .vote-rate .chart .title {
  display: flex;
  flex-direction: column;
}
.container .content .data .card .card-content .vote-rate .chart .title h6,
.container .content .data .card .card-content .vote-rate .chart .title p {
  text-align: center;
}
.container .content .data .card .card-content .vote-rate .text ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.container .content .data .card .card-content .vote-rate .text ul li {
  display: flex;
  align-items: center;
  gap: 8px;
}
.container .content .data .card .card-content .person .chart {
  width: 120px;
  height: 120px;
  border: 1px solid #000;
}
.container .content .data .map {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}
.container .content .data .map svg {
  width: 80%;
}
.container .content .data .hints {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 19%;
}
.container .content .data .hints .hint-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 52px;
  background: #DEE0E4;
  border-radius: 8px;
}
.container .content .data .hints .hint-card .text {
  display: flex;
  flex-direction: column;
}
.container .content .data .hints .hint-card .text .title {
  display: flex;
  align-items: center;
  gap: 8px;
}
.container .content .data .hints .hint-card .text .title img {
  height: auto;
}
.container .content .data .hints .hint-card .img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}
.container .content .data .hints .hint-card .img img {
  width: 100%;
}

.detail {
  width: 19%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: none;
}
.detail .detail-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 2px solid #84CB89;
  padding: 20px;
  background: #F3FAF5;
  border-radius: 8px;
}

.candidate-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.candidate-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.candidate-list li .candidate {
  display: flex;
  align-items: center;
  gap: 12px;
}
.candidate-list li .candidate .no {
  width: 24px;
  height: 24px;
  background: #DEE0E4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #FFFFFF;
}
.candidate-list li .vote_data {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
}
.candidate-list li .vote_data .percentage {
  display: flex;
  gap: 4px;
}
.candidate-list li .vote_data .num {
  display: flex;
  gap: 4px;
}/*# sourceMappingURL=style.css.map */